html    {
    background-color: black;
    /* background-image: none; */
    background-image: url("assets/death.jpg");
    background-repeat:no-repeat ;
    justify-content: center;
  cursor: url('assets/cursor.png') 0 0, wait;
  text-shadow: 2px 2px 8px #FF0000;
}

h1  {
    color: white;
    letter-spacing: 20px;
    word-spacing: 10px;
    font-size: 50px;
    animation-name: blink;
}

img {
    width: 50%;
}

.date_and_time  {
    display:none;
}

#flying_bat, #flying_bat_reverse, #exit-door, #projects, #tools, #profile, #cursor    {
    display: none;
}

p {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Old London";
    color: white;
    font-size: 40px;
    
}